<br>
{{ blogger.username }}
{% if not blogger.is_your_blogger %}
<form style="display: inline-block;" action="/bloggers/{{ blogger.id }}/" method="POST">
  {% csrf_token %}
  <input type="submit" value="subscribe">
</form>
{% else %}
<form style="display: inline-block;" action="/bloggers/{{ blogger.id }}/" method="POST">
  {% csrf_token %}
  <input type="hidden" name="is_deleting" value="1">
  <input type="submit" value="unsubscribe">
</form>
{% endif %}
<hr>
<br>
