<style>
.content {
  float: right;
  width: 80%;
}
.subscribers {
  width: 20%;
}
</style>
<div class="content">
    {% include 'posts.html' %}
</div>
<div class="subscribers">
  <h3><a href="/bloggers/">Bloggers:</a></h3>
  {% include 'bloggers.html' %}
</div>
