
{{ post.title }} | Owner: {{ post.owner }}
<hr>
{{ post.date }}
{% if request.user in post.viewers.all %}| <b>It is read!</b>
{% else %}
    <form style='display: inline-block;' action="/" method="post">
      {% csrf_token %}
      <input type="hidden" name="post_id" value="{{ post.id }}">
      <input type="submit" value="I read it!">
    </form>
{% endif %}
<br>
<p>post link: <a href="{{ post.get_absolute_url }}">{{ post.get_absolute_url }}</a></p>
<hr>
<p>{{ post.content }}</p>
<br>
